<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552529322527-ue43cnsm866mi4ub39mo791s5rqbvn7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552529322527-ue43cnsm866mi4ub39mo791s5rqbvn7t</string>
	<key>API_KEY</key>
	<string>AIzaSyC5u1CTznBa5m-eHQzl8ArcNqaPtlLTrPc</string>
	<key>GCM_SENDER_ID</key>
	<string>552529322527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.phillipchan.The-Blessing</string>
	<key>PROJECT_ID</key>
	<string>the-blessing-51da4</string>
	<key>STORAGE_BUCKET</key>
	<string>the-blessing-51da4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552529322527:ios:deb6c81f8ef779a843eb2a</string>
	<key>DATABASE_URL</key>
	<string>https://the-blessing-51da4.firebaseio.com</string>
</dict>
</plist>